mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className, alt)
  img(src=require(`images/content/${path}`) class=className alt=alt)

mixin nav(className, items)
  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each item, id in items 
        li(class=`${className}__item`)
          a(class=`${className}__link` href=`#${id}`)= item

mixin socials(className)
  div(class=`${className}`)
    ul(class=`${className}__list`)
      -
        var socials = [ 
          ['insta','https://www.instagram.com/evgeniy.nechetov'], 
          ['vk','https://vk.com/enechetov'], 
          ['github','https://github.com/zariuz']
        ] 
      each item in socials
        li(class=`${className}__item`)
          a(class=`${className}__link ${className}__link_${item[0]}` href=`${item[1]}` target="_blank")
            +icon(item[0],`${className}__icon` )