.end-section
  .end-section__up            
    section.feedback#feedback
      .container 
        .feedback__wrap
          .feedback__top
            h2.feedback__title.section__title Что обо мне говорят
            .slider-feedback__nav
              button(@click="previous()").slider__button.slider-feedback__button.slider-feedback__button-prev <
              button(@click="next()").slider__button.slider-feedback__button.slider-feedback__button-next >
          .feedback__slider
            flickity(ref="flickity" :options="flickityOptions").slider-feedback
              -
                var feedback = [
                  ['Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!','Dima.png','Ковальчук Дмитрий','Основатель Loftschool'],
                  ['Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах','Vova.png','Владимир Сабанцев','Преподаватель'],
                  ['Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!','Dima.png','Ковальчук Дмитрий','Основатель Loftschool'],
                  ['Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах','Vova.png','Владимир Сабанцев','Преподаватель'],
                  ['Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!','Dima.png','Ковальчук Дмитрий','Основатель Loftschool'],
                  ['Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах','Vova.png','Владимир Сабанцев','Преподаватель']
                ]
              each item in feedback
                .slider-feedback__child.carousel-cell
                  p.slider-feedback__quote #{item[0]}
                  .slider-feedback__info
                    .slider-feedback__info-avatar
                      +image(`${item[1]}`,'slider-feedback__image',`Фото: ${item[1]}`)
                    .slider-feedback__info-text
                      span.slider-feedback__info-name #{item[2]}
                      span.slider-feedback__info-post #{item[3]}
  
  .end-section__down
    section.contacts
      .container
        .contacts__wrap
          h2.contacts-title.section__title Связаться со мной
          .contacts__form
            form.form
              .form__wrap
                .form__child
                  label(for="fullname").input__label Введите ваше имя
                  .form__input
                    input(type="text" id="fullname" name="fullname" required placeholder="Евгений Нечетов").input
                    +icon('user','form__input-icon')
                .form__child 
                  label(for="email").input__label Введите ваше имя
                  .form__input
                    input(type="text" id="email" name="email" required placeholder="nechetov@hotmail.com").input
                    +icon('envelope','form__input-icon')
                .form__child.form__child_full
                  label(for="message").input__label Сообщение к письму
                  .form__input
                    textarea(type="text" id="message" name="message" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").input.textarea 
                    +icon('message','form__input-icon')
              .form__btn
                input(type="submit" value="Отправить").btn