include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .main-section
          header.header
            .container
              .header__wrap.fullscreen-section
                .header__top
                  .header__logo
                    span.logo ЕН
                  .header__nav 
                    +nav('nav', ["Главная","Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
                  .header__mobile-menu
                    .header__socials
                      +socials('socials')
                  .header__nav-bar
                    .nav-bar#burger-btn
                      span.nav-bar__child
                .header__middle
                  h1.header__title Евгений <br> Нечетов
                  span.header__subtitle Личный сайт <br> веб-разработчика
                .header__bottom
                  button.header__button
                    span.header__prompt Скролл
                    +icon('scroll','header__scroll')
          
          section.about
            .container
              .about__wrap
                .about__grid
                  .about__child.about__child_first.about__avatar
                    +image( 'me.jpg', 'avatar','Моя фотография)')
                  .about__child.about__child_second.about__content
                    span.section__descr.about__descr Привет, меня зовут
                    h2.about__title Евгений Нечетов
                    p.section__descr.about__descr Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about__child.about__child_third.about__info
                    table.about__table
                      -
                        var info = [
                          ['Проживаю:','Санкт-Петербург'],
                          ['Возраст:','37'],
                          ['Родился:','24 сентября 1981']
                        ]
                      each row in info
                        tr.about__row
                          td.about__cell.about__cell_light  #{row[0]}
                          td.about__cell.about__cell_bold  #{row[1]}
                  p.about__child.about__child_fourth.about__prompt.section__descr Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

          .section__triangle
            .triangle
              svg.triangle__child(viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(fill="f8f7fc" points="0,0 100,0 50,70")

        section.skills
          .container
            .skills__wrap
              .skills__top
                h2.skills__title Чем я могу быть полезен вам
                p.skills__subtitle.section__descr Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .skills__bottom
                .skills__img
                  +image('backpack.png','skills__backpack','Рюкзак')
                .skills__cycles
                  ul.cycles
                    -
                      var cycles = [
                        ['Front-end', [['HTML5','-70s'],['CSS3','-60s'],['Javascript','-40s'],['Jquery и Vue.js','-45s']]],
                        ['Workflow', [['GIT','-30s'],['Terminal','-20s'],['Gulp','-15s'],['Webpack','-10s']]]
                      ]
                    each item in cycles
                      li.cycles__item
                        h3.cycles__title #{item[0]}
                        ul.cycles__list
                          each metric in item[1]
                            li.cycles__list-item
                              svg(viewBox="0 0 150 150" preserveAspectRatio="none").cycles__list-shape
                                circle( r="65" cx="75" cy="75" ).cycles__circle.cycles__circle_before
                                circle( stroke="#5500f2" width="100%" height="100%" r="65" cx="75" cy="75" style=`animation-delay: ${metric[1]} `).cycles__circle.cycles__circle_after
                                linearGradient(id="status")
                                  stop(offset="0%" stop-color="#0089f2")
                                  stop(offset="100%" stop-color="#003dea")
                                .cycles__list-title #{metric[0]}

        section.portfolio
          .container
            .portfolio__wrap
              span.portfolio__title.section__title Мои работы
              .portfolio__slider
                .slider-work
                  -
                    var works = [
                      ['work-1','Сайт школы образования',['HTML','CSS','Javasript'],'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!','https://loftschool.com']
                    ]
                  each item in works
                    .slider-work__left
                      .slider-work__main
                        +image(`${item[0]}.jpg`,'slider-work__img',`${item[1]}`)
                        - for (var i = 0; i < works.length; i++)
                          .slider-work__main-number= i+4
                      .slider-work__status
                        button.slider-work__status-child.slider-work__status-child_active
                          +image(`${item[0]}.jpg`,'slider-work__preview',`${item[1]}`)
                        button.slider-work__status-child
                          +image(`work-2.jpg`,'slider-work__preview',`${item[1]}`)
                        button.slider-work__status-child
                          +image(`work-3.jpg`,'slider-work__preview',`${item[1]}`)
                        button.slider-work__status-child
                          +image(`work-4.jpg`,'slider-work__preview',`${item[1]}`)
                        .slider-work__nav
                          button.slider__button.slider-work__button.status-work__button-prev <
                          button.slider__button.slider-work__button.status-work__button-next >
                    .slider-work__right
                      .slider-work__info
                        .slider-work__tool
                          each tool in item[2]
                            span.slider-work__tool-child #{tool}
                        span.slider-work__info-title #{item[1]}
                        p.slider-work__info-descr.section__descr #{item[3]}
                        a(href=`${item[4]}` target="_blank").slider-work__link
                          .slider-work__link-icon
                            +icon(`link`,'link-icon')
                          .slider-work__link-title Посмотреть сайт

        .triangle__portfolio
          .triangle
            svg.triangle__child-down(viewBox="0 0 100 100" preserveAspectRatio="none")
              polygon(fill="f8f7fc" points="0,0 100,0 50,70")

        .end-section
          .end-section__up            
            section.feedback
              .container 
                .feedback__wrap
                  .feedback__top
                    h2.feedback__title.section__title Что обо мне говорят
                    .slider-feedback__nav
                      button.slider__button.slider-feedback__button.slider-feedback__button-prev <
                      button.slider__button.slider-feedback__button.slider-feedback__button-next >
                  .feedback__slider
                    .slider-feedback
                      -
                        var feedback = [
                          ['Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!','Dima.png','Ковальчук Дмитрий','Основатель Loftschool'],
                          ['Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах','Vova.png','Владимир Сабанцев','Преподаватель']
                        ]
                      each item in feedback
                        .slider-feedback__child
                          p.slider-feedback__quote #{item[0]}
                          .slider-feedback__info
                            .slider-feedback__info-avatar
                              +image(`${item[1]}`,'slider-feedback__image',`Фото: ${item[1]}`)
                            .slider-feedback__info-text
                              span.slider-feedback__info-name #{item[2]}
                              span.slider-feedback__info-post #{item[3]}
          
          .end-section__down
            section.contacts
              .container
                .contacts__wrap
                  h2.contacts-title.section__title Связаться со мной
                  .contacts__form
                    form.form
                      .form__wrap
                        .form__child
                          label(for="fullname").input__label Введите ваше имя
                          .form__input
                            input(type="text" id="fullname" name="fullname" required placeholder="Евгений Нечетов").input
                            +icon('user','form__input-icon')
                        .form__child 
                          label(for="email").input__label Введите ваше имя
                          .form__input
                            input(type="text" id="email" name="email" required placeholder="nechetov@hotmail.com").input
                            +icon('envelope','form__input-icon')
                        .form__child.form__child_full
                          label(for="message").input__label Сообщение к письму
                          .form__input
                            textarea(type="text" id="message" name="message" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").input.textarea 
                            +icon('message','form__input-icon')
                      .form__btn
                        input(type="submit" value="Отправить").btn


        footer.footer
          .container
            .footer__wrap
              .footer__left
                span.footer__copyright © 2019
                .footer__author
                  h3.footer__author-name Евгений <br> Нечетов
                  span.footer__author-project Личный сайт <br> веб-разработчика
              .footer__right
                .footer__nav
                  +nav('nav', ["Главная","Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
                .footer__info
                  .footer__info-project
                    p.footer__info-descr Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    .footer__info-social
                      +socials('socials')
                  .footer__info-project
                    .footer__quote 
                      p.footer__info-descr Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    span.footer__quote-author Martin Golding
        
        .mobile-menu#burger
          .mobile-menu__wrap
            .mobile-menu__close
              button.close#close
            .mobile-menu__content
              .mobile-menu__nav
                +nav('nav', ["Главная","Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
              .mobile-menu__social
                +socials('socials')